<%- include("partials/header"); -%>

<div class="row">
  <fieldset>
    <legend><%= stepNo %></legend>
    <% if (stepNo.localeCompare("Step1") == 0){ %>
      <label for="tableCnt">Mention the number of datasets/tables : </label>
      <% if(tableData.length > 0){ %>
        <input type="number" name="tableCntVal" id="tableCntVal" value="<%= tableData.length %>" placeholder="0" onchange="generateGrids()">
      <% } else { %>
        <input type="number" name="tableCntVal" id="tableCntVal" value="" placeholder="0" onchange="generateGrids()">
      <% } %>
    <% } %>
  </fieldset>
</div>

<% if (stepNo.localeCompare("Step1") == 0){ %>
<div class="row marginLine blocks">
  <% if(tableData.length > 0){ %>
    <% for (var i =0; i<tableData.length; i++){ %>
      <div class='col col-lg-4 col-md-6 col-sm-6'><input type='text' class='tables' placeholder='Name?' autocomplete='none' value = "<%= tableData[i].name %>" ><br><label class="labelTabSeq"><i>Table-<%= i+1 %></i></label> </div>
    <% } %>
  <% } %>
<% } else if (stepNo.localeCompare("Step2") == 0){ %>
<div class="row marginLine tabsNav">
  <%  for (var i =0; i<tableData.length; i++){ %>
        <% let element = tableData[i];   %>
        <% let btnSeq = i + 1; %>
        <% let btnId = "btn" + btnSeq; %>
            <% if (i == 0) { %>
              <div class="col col-lg-1 tabs"><button type="button" data-name="<%= element.name %>" class="btn btn-primary finalTables" id="<%= btnId %>" onclick="defineSchema(this)">Table-<%= btnSeq %></button></div>
            <% } else { %>
              <div class="col col-lg-1 tabs"><button type="button" data-name="<%= element.name %>" class="btn btn-dark finalTables" id="<%= btnId %>" onclick="defineSchema(this)">Table-<%= btnSeq %></button></div>
            <% } %>
        <% } %>
</div>

<script>
  function checkExt(element) {
   if(element.value.lastIndexOf(".txt")==-1) {
       $("#alertWarning").html('<span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>');
       $("#alertWarning").append("<strong> Error!</strong> Only txt files are allowed.");
       $("#alertWarning").css('display','block');
       setTimeout(function(){
         $("#alertWarning").css('display','none');
       }, 5000);
       return false;
   }
   else {
      element.parentElement.submit();
   }
  }
  </script>

  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
  </script>

<% if (tableAttributes.length > 0 ){ %>
<div class="invisible" id="tableAttr">
  <% let i = 1; %>
  <% tableAttributes.forEach(function(fdata){ %>
    <div class="div<%= i %>"><label for="table" class="tname"><%= fdata.table %></label><label for="fieldName" class="fname"><%= fdata.fieldName %></label><label for="fieldType" class="ftype"><%= fdata.fieldType %></label></div>
    <% i++; %>
  <% }); %>
</div>
<% } %>

<div class="row marginLine tabsNav">
  <%  for (var i =0; i<tableData.length; i++){ %>
        <% let element = tableData[i];   %>
        <% let btnSeq = i + 1; %>
        <% let schemaId = "schemaBlock-" + btnSeq; %>
        <% let fileDropId = "fileDrop-" + btnSeq; %>
            <% if (i == 0) { %>
              <div class="overflow-auto blocksExtended border border-dark visible custom-scrollbar-css" id="<%= schemaId %>"><br><h3 style="width:100%;"><u><%= element.name %></u></h3>
                <% if (tableAttributes.length==0){ %>
                  <br><div id="table-<%= element.name %>"><input type="text" placeholder="Field Name" class="fieldName"><select name="dataType" class="fieldType" onchange="populateOption(this,'Y')"><%- include("datatypes"); -%></select><input type="text" placeholder="Options" class="fieldOption" disabled="true"><br></div>
                  <button type="button" class="btn btn-primary btn-circle btn-sm border border-primary addAttribute" onclick="addNewAttribute(this)" ><b>+</b></button><br>
                  <p>Record Count:<span class="input recordCnt" role="number" contenteditable>100</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Record Delimiter:<span class="input recordDelimiter" role="textbox" contenteditable>~</span></p>
                <% } else{ %>
                  <br>
                  <% let flag1=false; %>
                  <% tableAttributes.forEach(function(item) { %>
                      <% if(element.name == item.table){ %>
                        <% if(item.fieldType == "randomData.generateDecimal"){ %>
                          <% var modifiedOption = item.fieldOption.replace(/ & /g,','); %>
                          <div id="table-<%= element.name %>"><input type="text" placeholder="Field Name" class="fieldName" value="<%= item.fieldName %>"><select name="dataType" class="fieldType" onchange="populateOption(this,'Y')"><%- include("datatypes"); -%></select><input type="text" placeholder="Options" class="fieldOption" value="<%= modifiedOption %>" disabled="true"><br></div>
                          <% flag1=true; %>
                        <% }else { %>
                          <div id="table-<%= element.name %>"><input type="text" placeholder="Field Name" class="fieldName" value="<%= item.fieldName %>"><select name="dataType" class="fieldType" onchange="populateOption(this,'Y')"><%- include("datatypes"); -%></select><input type="text" placeholder="Options" class="fieldOption" value="<%= item.fieldOption %>" disabled="true"><br></div>
                          <% flag1=true; %>
                        <% } %>
                      <% } %>
                    <% }); %>
                      <% if (!flag1) { %>
                        <div id="table-<%= element.name %>"><input type="text" placeholder="Field Name" class="fieldName"><select name="dataType" class="fieldType" onchange="populateOption(this,'Y')"><%- include("datatypes"); -%></select><input type="text" placeholder="Options" class="fieldOption" disabled="true"><br></div>
                      <% } %>
                  <button type="button" class="btn btn-primary btn-circle btn-sm border border-primary addAttribute" onclick="addNewAttribute(this)" ><b>+</b></button><br>
                  <% let labelFlag1=false; %>
                  <% tableOptions.forEach(function(item) { %>
                      <% if(element.name == item.table){ %>
                        <p>Record Count:<span class="input recordCnt" role="number" contenteditable><%= item.recordCnt %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Record Delimiter:<span class="input recordDelimiter" role="textbox" contenteditable><%= item.recordDelimiter %></span></p>
                        <% labelFlag1=true; %>
                      <% } %>
                  <% }); %>
                      <% if (!labelFlag1) { %>
                        <p>Record Count:<span class="input recordCnt" role="number" contenteditable>100</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Record Delimiter:<span class="input recordDelimiter" role="textbox" contenteditable>~</span></p>
                      <% } %>
                <% } %>
                <br><p><i>Or</i></p><br>

                <form action="/file-upload/<%= btnSeq %>/table/<%= element.name %>" method="post" class="dropzone" id="dropzone-<%= btnSeq %>" enctype="multipart/form-data">
                    <input type="file" name="file<%= btnSeq %>" class="custom-dropbutton" id="<%= fileDropId %>" onchange="checkExt(this);">
                    <br><a href="#"><span class="fa fa-gear" data-toggle="tooltip" data-original-title="Only TXT files. Format:  <FieldName> <Datatype>"></span></a>
                </form>
                <br>
                </div>
            <% } else { %>
              <div class="overflow-auto blocksExtended border border-dark invisible custom-scrollbar-css" id="<%= schemaId %>"><br><h3 style="width:100%;"><u><%= element.name %></u></h3>
                <% if (tableAttributes.length==0){ %>
                  <br><div id="table-<%= element.name %>"><input type="text" placeholder="Field Name" class="fieldName"><select name="dataType" class="fieldType" onchange="populateOption(this,'Y')"><%- include("datatypes"); -%></select><input type="text" placeholder="Options" class="fieldOption" disabled="true"><br></div>
                  <button type="button" class="btn btn-primary btn-circle btn-sm border border-primary addAttribute" onclick="addNewAttribute(this)"><b>+</b></button><br>
                  <p>Record Count:<span class="input recordCnt" role="number" contenteditable>100</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Record Delimiter:<span class="input recordDelimiter" role="textbox" contenteditable>~</span></p>
                <% } else{ %>
                  <br>
                  <% let flag2=false; %>
                  <% tableAttributes.forEach(function(item) { %>
                      <% if(element.name == item.table){ %>
                        <div id="table-<%= element.name %>"><input type="text" placeholder="Field Name" class="fieldName" value="<%= item.fieldName %>"><select name="dataType" class="fieldType" onchange="populateOption(this,'Y')"><%- include("datatypes"); -%></select><input type="text" placeholder="Options" class="fieldOption" value="<%= item.fieldOption %>" disabled="true"><br></div>
                        <% flag2=true; %>
                      <% }  %>
                    <% }); %>
                      <% if (!flag2){ %>
                        <div id="table-<%= element.name %>"><input type="text" placeholder="Field Name" class="fieldName"><select name="dataType" class="fieldType" onchange="populateOption(this,'Y')"><%- include("datatypes"); -%></select><input type="text" placeholder="Options" class="fieldOption" disabled="true"><br></div>
                      <% }  %>
                  <button type="button" class="btn btn-primary btn-circle btn-sm border border-primary addAttribute" onclick="addNewAttribute(this)" ><b>+</b></button><br>
                  <% let labelFlag2=false; %>
                  <% tableOptions.forEach(function(item) { %>
                      <% if(element.name == item.table){ %>
                        <p>Record Count:<span class="input recordCnt" role="number" contenteditable><%= item.recordCnt %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Record Delimiter:<span class="input recordDelimiter" role="textbox" contenteditable><%= item.recordDelimiter %></span></p>
                        <% labelFlag2=true; %>
                      <% } %>
                  <% }); %>
                      <% if (!labelFlag2) { %>
                        <p>Record Count:<span class="input recordCnt" role="number" contenteditable>100</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Record Delimiter:<span class="input recordDelimiter" role="textbox" contenteditable>~</span></p>
                      <% } %>
                <% } %>

                <br><p><i>Or</i></p><br>

                <form action="/file-upload/<%= btnSeq %>/table/<%= element.name %>" method="post" class="dropzone" id="dropzone-<%= btnSeq %>" enctype="multipart/form-data">
                    <input type="file" name="file<%= btnSeq %>" class="custom-dropbutton" id="<%= fileDropId %>" onchange="checkExt(this);">
                    <br><a href="#"><span class="fa fa-gear" data-toggle="tooltip" data-original-title="Only TXT files. Format:  <FieldName>, <Datatype>"></span></a>
                </form>
                <br>
                </div>
            <% } %>
        <% } %>
</div>
<script>
  // Dealing with Input width
  let el = document.querySelector(".input-wrap .input");
  let widthMachine = document.querySelector(".input-wrap .width-machine");
  el.addEventListener("keyup", () => {
    widthMachine.innerHTML = el.value + 1;
  });
</script>

<% } else { %>
<div class="invisible relation">
  <% tableAttributes.forEach(function(element){ %>
  <label for="tableName" class="<%= element.table %>"><%= element.table %>.<%= element.fieldName %> </label>
  <% }); %>
</div>

<div class="invisible hiddenTemplate">
  <select name="tables" class="tabNameLeft" onchange="populateRelativeFields(this);"><option value="" selected disabled hidden>Choose Table</option>
    <% tableData.forEach(function(element){ %>
      <option value="<%= element.name %>"><%= element.name %></option>
    <% }) %>
  </select>
  <select name="attributes" class="tabAttrLeft"><option value="" selected disabled hidden>Choose Field</option></select>
  <b> = </b>
  <select name="tables" class="tabNameRight" onchange="populateRelativeFields(this);"><option value="" selected disabled hidden>Choose Table</option>
    <% tableData.forEach(function(element){ %>
      <option value="<%= element.name %>"><%= element.name %></option>
    <% }) %>
  </select>
  <select name="attributes" class="tabAttrRight"><option value="" selected disabled hidden>Choose Field</option></select>
  <br>
</div>

<script>
function populateRelativeFields(element){
  const userSelection = element.value;

  for(var cnt = 0; cnt < document.querySelectorAll(".relation label").length; cnt++){
    let labelData = document.querySelectorAll(".relation label")[cnt].textContent.trim().split(".");
    if (labelData[0].trim() == userSelection){
      var option = document.createElement("option");
      option.text = labelData[1].trim();
      element.nextSibling.nextSibling.add(option);
    }
  }

}
</script>

<div class="row marginLine tabsNav">
  <div class="overflow-auto blocksExtended blocksExtendedPlus border border-dark visible custom-scrollbar-css" id="relationships">
    <br><br><h3 style="width:100%;"><u>Define Table Relationships<i>(Optional)</i></u></h3><br>
    <div><select name="tables" class="tabNameLeft" onchange="populateRelativeFields(this);"><option value="" selected disabled hidden>Choose Table</option>
      <% tableData.forEach(function(element){ %>
        <option value="<%= element.name %>"><%= element.name %></option>
      <% }) %>
    </select>
    <select name="attributes" class="tabAttrLeft"><option value="" selected disabled hidden>Choose Field</option></select>
    <b> = </b>
    <select name="tables" class="tabNameRight" onchange="populateRelativeFields(this);"><option value="" selected disabled hidden>Choose Table</option>
      <% tableData.forEach(function(element){ %>
        <option value="<%= element.name %>"><%= element.name %></option>
      <% }) %>
    </select>
    <select name="attributes" class="tabAttrRight"><option value="" selected disabled hidden>Choose Field</option></select>
    <br></div>
    <button type="button" class="btn btn-primary btn-circle btn-sm border border-primary addRelationship" onclick="addNewRelationship(this)"><b>+</b></button>
  </div>
<% } %>
</div>



<div class="row ">
  <div class="col-lg startBtn">
    <% if (stepNo.localeCompare("Step1") == 0){ %>
      <button type="button" class="btn btn-outline-primary btn-sm btnNavig" disabled>Previous</button>
      <% if(tableData.length > 0){ %>
        <button type="button" class="btn btn-outline-primary btn-sm btnNavig" id="Step1NextBtn" onclick="validateTableNames()">Next</button>
      <% } else{ %>
        <button type="button" class="btn btn-outline-primary btn-sm btnNavig" id="Step1NextBtn" disabled onclick="validateTableNames()">Next</button>
      <% } %>
      <script type="text/javascript" src="../js/generateGrids.js"></script>
      <script type="text/javascript" src="../js/validateTableNames.js"></script>

    <% }else if (stepNo.localeCompare("Step2") == 0){ %>
      <button type="button" class="btn btn-outline-primary btn-sm btnNavig" onclick="location.href = '/start/Step1';">Previous</button>
      <button type="button" class="btn btn-outline-primary btn-sm btnNavig" onclick="validateTableSchema()">Next</button>
      <script type="text/javascript" src="../js/validateTableSchema.js"></script>
    <% }else if (stepNo.localeCompare("Step3") == 0){ %>
      <button type="button" class="btn btn-outline-primary btn-sm btnNavig" onclick="location.href = '/start/Step2';">Previous</button>
      <button type="button" class="btn btn-outline-success btn-sm btnNavig" onclick="generateData()">Generate</button>
      <script type="text/javascript" src="../js/generateData.js"></script>
    <% } %>
  </div>
</div>

<div class="alert warning" id="alertWarning">
</div>

<script>
  $(".option1").removeClass("active");
  $(".option2").addClass("active");
  $(".container-fluid").css('padding-top','50px');
</script>

<script>
  $(document).ready(function(){

          if($("#tableAttr").length > 0)
          {
              for (var i = 0; i < $("#tableAttr div").length; i++)
              {
                let tname = $("#tableAttr div")[i].querySelectorAll("label")[0].textContent;
                let fname = $("#tableAttr div")[i].querySelectorAll("label")[1].textContent;
                let ftype = $("#tableAttr div")[i].querySelectorAll("label")[2].textContent;

                document.querySelector("#table-" + tname + " .fieldName[value='" + fname + "']").nextElementSibling.value = ftype;
                populateOption(document.querySelector("#table-" + tname + " .fieldName[value='" + fname + "']").nextElementSibling,'N');
              }
          }

  });
</script>


<%- include("partials/footer"); -%>
